 nav ul a,
 nav .brand-logo {
  color: #444;
}

html {
  background-color: #808080;
}

p {
  line-height: 2rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  color: white;
}

#id-logo {
  border: 1px solid black;
}

.button-collapse {
  color: #26a69a;
}

.section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}